<div class="container mt-3">

    <h4 class="mb-3">Team Ledger</h4>

    <form #ledgerForm="ngForm" class="card p-3 mb-4 shadow-sm">

        <div class="row g-3">

            <div class="col-md-3">
                <label>Date</label>
                <input type="date" class="form-control" name="entry_date" [(ngModel)]="form.entry_date" required>
            </div>

            <div class="col-md-3">
                <label>Team</label>
                <input class="form-control" name="team_name" [(ngModel)]="form.team_name" required>
            </div>

            <div class="col-md-3">
                <label>Type</label>
                <select class="form-control" name="entry_type" [(ngModel)]="form.entry_type" required>
                    <option *ngFor="let t of entryTypes" [value]="t">
                        {{ t }}
                    </option>
                </select>
            </div>

            <div class="col-md-3">
                <label>Amount</label>
                <input type="number" class="form-control" name="amount" [(ngModel)]="form.amount" required min="0">
            </div>

            <!-- Remarks -->
            <div class="col-md-6">
                <label>Remarks</label>
                <input type="text" class="form-control" name="remarks" [(ngModel)]="form.remarks"
                    placeholder="Optional notes">
            </div>

        </div>

        <button type="button" class="btn btn-success mt-3" [disabled]="ledgerForm.invalid || saving"
            (click)="save(ledgerForm)">
            {{ editMode ? 'Update' : 'Save' }}
        </button>


        <div *ngIf="successMsg" class="alert alert-success mt-3">
            {{ lastAction === 'update' ? 'Entry updated successfully' : 'Entry created successfully' }}
        </div>


    </form>

    <h5>Ledger Entries</h5>

    <table class="table table-bordered table-sm shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Date</th>
                <th>Team</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Remarks</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of list">
                <td>{{ r.entry_date }}</td>
                <td>{{ r.team_name }}</td>
                <td>{{ r.entry_type }}</td>
                <td>{{ r.amount }}</td>
                <td>{{ r.remarks }}</td>
                <td>
                    <button class="btn btn-warning btn-sm" (click)="editRow(r)">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="deleteRow(r.id)">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>

</div>